@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  font-size: 16px;
  margin: 0;
  padding: 0 30px;
}
button {
  background-color: #2f2f2f;
  color: #fff;
  border: 0;
  padding: 12px 25px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s linear;
}
button:hover {
  background-color: #4f4f4f;
}
.time {
  background-color: #ececec;
  padding: 10px 20px;
}

/* Gotowa klasa (zadanie 1) */
.color-btn {
  position: relative;
}
.color-btn::after {
  transition: all 0.3s linear;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #e9e92c;
  z-index: -1;
}
.color-btn-active::after {
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}