@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  font-size: 16px;
}
input {
  max-width: 100px;
  padding: 4px;
  border: 1px solid #1d73d4;
  background-color: #cff2ff;
}
button {
  border: 1px solid #3b86db;
  padding: 4px 8px;
  background-color: #51abef;
  color: #fff;
  cursor: pointer;
}
.marked {
  background-color: #1768a2;
}