@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.card-table {
  background-color: #fff;
  width: 100%;
  border-spacing: 0;
}
.card-table th,
.card-table td {
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.card-table td input {
  width: 30px;
}
.card-table th {
  background-color: #ededed;
}
.discount {
  border: 1px solid #3bc53b;
  padding: 4px 8px;
  background-color: #b9f3b9;
}
.hidden {
  display: none;
}
.marked {
  background-color: #faebd7;
}
.delete {
  background: none;
  border: 0;
  font-size: 18px;
  color: grey;
  cursor: pointer;
}
input {
  padding: 6px;
  border: 0;
  border-bottom: 3px solid #dbdbdb;
  background-color: #f1f1f1;
}

.box {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
}
.box-body {
  padding: 10px 20px;
}
.box-title {
  font-size: 18px;
  font-weight: bold;
}
.button {
  background-color: #2f2f2f;
  color: #fff;
  border: 0;
  padding: 12px 25px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s linear;
}
.button:hover {
  background-color: #4f4f4f;
}
.coursers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.navigation {
  background-color: #1e213e;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.navigation-list {
  list-style-type: none;
  padding: 0;
}
.navigation-list a {
  color: #fff;
  text-decoration: none;
}
.counter {
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  font-weight: bold;
  margin-left: 6px;
  padding: 2px 4px 1px 4px;
}
.container {
  padding: 0 20px;
  max-width: 980px;
  margin: 0 auto;
}